@font-face {
font-family: 'Helvetica Neue';
src: url('../fonts/helveticaneue-thin-webfont.eot');
src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
     url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
     url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
html {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/

header {
    background-color: #074e8c;
    border-right: 1px solid #4aa6d8;
    height: 36px;
}
header ul {
    float: right;
}
header li {
    display: inline-block;
    margin-top: -15px;
}
header li:last-child, header li:nth-child(7) {
    padding: 11px;
    margin: 0 12px;
    color: white;
}
header li:last-child {
    background: linear-gradient(to top, #2e7ac4, #50afdc);
}
header li:nth-child(5) {
    border-right: 1px solid #4aa6d8;
}
header img {
    display: inline-block;
    margin: 0 0 -5px 10px;
    height: 22px;
    width: 18px;
}
header a {
    display: inline-block;
    padding: 11px;
    text-decoration: none;
    color: #4aa6d8;
}
header a:hover {
    color: white;
    background-color: #4aa6d8;
}
header span {
    text-decoration: underline;;
}

/*CENTER_PANEL*/

.center_panel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -260px 0 0 -270px;
}
.sign_in {
	margin-left: auto;
	margin-right: auto;
    width: 520px;
    background: rgba(0, 0, 0, 0.5);
}
.facebook h2 {
    color: white;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
 form {
	text-align: center;
}
.facebook input {
    background-image: url(../img/facebook.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.facebook h3 {
    text-align: center;
    color: #999999;
    background-image: url(../img/border_bottom.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.sign_in input {
    margin: 8px 0;
    width: 276px;
    height: 30px;
    border: none;
}
.sign_in input[type=text], .sign_in input[type=email], .sign_in input[type=password] {
    background: #0f0f0f;
    border-bottom: 1px solid #4a4a48;
}
.sign_in input[type=checkbox] {
	width: 13px;
	height: 13px;
}
.sign_in input[type=text]:focus, .sign_in input[type=email]:focus, .sign_in input[type=password]:focus {
	background: #074b87;
	box-shadow: 0px 0px 20px 5px rgba(115,154,193,1);
}
.sign_in input[placeholder] {
    padding-left: 10px;
}
.create_account input[type=submit] {
    width: 140px;
    background: linear-gradient(to top, #2e7ac4, #50afdc);
}
.sign_in input[placeholder], .create_account input[type=submit] {
     font-size: 14px;
     font-family: 'Helvetica Neue', sans-serif;
}
.sign_in p {
    display: inline-block;;
    width: 306px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
}
.sign_in p, .sign_in label, .create_account input[type=submit], .sign_in input[placeholder] {
    color: white;
}
