@font-face {
font-family: 'Helvetica Neue';
src: url('../fonts/helveticaneue-thin-webfont.eot');
src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
     url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
     url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body {
    font-family: 'Helvetica Neue';
    font-size: 14px;
}
.header_menu {
    background-color: #074e8c;
    border-right: 1px solid #4aa6d8;
    height: 36px;
}
li {
    float: right;
}
li:first-child, li:nth-child(2) {
    padding: 11px;
    margin: 0 12px;
    color: white;
}

li:first-child {
    background-color: #4aa6d8;
}
.border {
    border-right: 1px solid #4aa6d8;
}
img {
    display: inline-block;
    margin: 8px 0 8px 10px;
    height: 22px;
    width: 18px;
}
a {
    display: inline-block;
    padding: 11px;
    text-decoration: none;
    color: #4aa6d8;
}
a:hover {
    color: white;
    background-color: #4aa6d8;
}
.header_menu span {
    text-decoration: underline;;
}
.main_part {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
